/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}
nav {
  width: 100%;
  background-color: #0b0b0b;
  position: fixed;
  bottom: 0;
  height: 100px;
  overflow: hidden;
  z-index: 2;
}
nav ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 140vw;
}
nav li {
  margin: 0;
  float: left;
  display: inline-block;
  height: 98px;
  margin-bottom: 2px;
  line-height: 100px;
  width: 20vw;
  text-align: center;
  color: #555;
  transition: background-color 0.5s 0.2s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 20px;
    letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(100%);
}
nav li.active {
  background-color: #151515;
  color: #efefef;
}
nav li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7ca18;
}
nav li:nth-child(1) {
  animation: pop 0.5s 0.15s 1 forwards;
}
nav li:nth-child(2) {
  animation: pop 0.5s 0.3s 1 forwards;
}
nav li:nth-child(3) {
  animation: pop 0.5s 0.45s 1 forwards;
}
nav li:nth-child(4) {
  animation: pop 0.5s 0.6s 1 forwards;
}
nav li:nth-child(5) {
  animation: pop 0.5s 0.75s 1 forwards;
}
nav li:nth-child(6) {
  animation: pop 0.5s 0.9s 1 forwards;
}
nav li:nth-child(7) {
  animation: pop 0.5s 1.05s 1 forwards;
}
nav li:hover {
  color: #ececec;
}
nav li:active {
  background-color: #222;
}
nav li:nth-child(1):hover ~ .slide {
  left: 0;
}
nav li:nth-child(2):hover ~ .slide {
  left: 20vw;
}
nav li:nth-child(3):hover ~ .slide {
  left: 40vw;
}
nav li:nth-child(4):hover ~ .slide {
  left: 60vw;
}
nav li:nth-child(5):hover ~ .slide {
  left: 80vw;
}
nav li:nth-child(6):hover ~ .slide {
  left: 100vw;
}
nav li:nth-child(7):hover ~ .slide {
  left: 120vw;
}
nav li.slide {
  position: absolute;
  left: -20vw;
  top: 0;
  background-color: #fff;
  z-index: -1;
  height: 2px;
  margin-top: 98px;
  transition: left 0.3s ease;
  transform: translateY(0);
}

nav a {
  color: #555!important;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  font-family: 'Open Sans';
  background: #000000;
  color: white;
  text-align: center;
  /* margin-bottom: 10%; */
}
.skills {
  list-style: none;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;

}
.skills-h1 {
  font-size: 50px;
  font-weight: 50px;
  padding-top: 3%;
  padding-bottom: 2%;
}

.skills .skill {
  display: block;
  position: relative;
  height: 60px;
  margin: 10px auto;
  width: 90%;
}

.skills .skill:before, .skills .skill:after {
  content: "";
  position: absolute;
  border-radius: 20px;
  margin-top: 40px;
}
.skills .skill:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background: #eeeeee;
}
.skills .skill:after {
  background-color: #E1CD81;
  background: solid(-45deg, #2ea994, #2ea994 10px, #31b59f 10px, #31b59f 20px);
  height: 16px;
  top: 2px;
  right: 95%;
  bottom: 2px;
  left: 2px;
  -webkit-animation: fill 2s both;
  -moz-animation: fill 2s both;
  animation: fill 2s both;
}
.skills .skill:nth-child(1):after {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.skills .skill:nth-child(2):after {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.skills .skill:nth-child(3):after {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.skills .skill:nth-child(4):after {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.skills .skill:nth-child(5):after {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.skills .skill[aria-label="HTML"]:after {
  right: 15%;
}
.skills .skill[aria-label="CSS"]:after {
  right: 20%;
}
.skills .skill[aria-label="Javascript"]:after {
  right: 80%;
}
.skills .skill[aria-label="Adobe Creative Suite"]:after {
  right: 30%;
}
.skills .skill[aria-label="Digital Marketing"]:after {
  right: 20%;
}

@keyframes fill {
  from {
    right: 100%;
  }
}


/*************************
 About
*************************/

#about {
  padding: 50px 0;
  background-color: #eeeeee;

}


#about img {
  height: 350px;
  text-align: center;
}

#about .justify-content-center {
  text-align: center;
}

#about h1 {
  font-size: 2rem;
  letter-spacing: 5px;

}

#skills {
  height: 550px;
  padding: 50px 0;

}

#skills h1 {
  font-size: 2rem;
  letter-spacing: 5px;
  margin-top: 50%;
}


  }
  /* .hero h1 {
      font-size: 4em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      margin-bottom: 5%;
  }

  .hero p {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    padding: 0;
    text-transform: none;
    line-height: 140%;
  } */





@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}



@media (max-width: 768px) {

  #about .service-text {
    display: block;
  }

  #about h1 {
    text-align: center;
  }

  #about p {
    text-align: center;
  }

  #about .about-img {
    margin: 20px 0;
    /* height: 250px; */
  }


  #skills h1 {
    margin-top: 10px;
  }
}
