/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}
::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}
nav {
  width: 100%;
  background-color: #0b0b0b;
  position: fixed;
  bottom: 0;
  height: 100px;
  overflow: hidden;
  z-index: 2;
}
nav ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 140vw;
}
nav li {
  margin: 0;
  float: left;
  display: inline-block;
  height: 98px;
  margin-bottom: 2px;
  line-height: 100px;
  width: 20vw;
  text-align: center;
  color: #555;
  transition: background-color 0.5s 0.2s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
  transform: translateY(100%);
}
nav li.active {
  background-color: #151515;
  color: #efefef;
}
nav li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7ca18;
}
nav li:nth-child(1) {
  animation: pop 0.5s 0.15s 1 forwards;
}
nav li:nth-child(2) {
  animation: pop 0.5s 0.3s 1 forwards;
}
nav li:nth-child(3) {
  animation: pop 0.5s 0.45s 1 forwards;
}
nav li:nth-child(4) {
  animation: pop 0.5s 0.6s 1 forwards;
}
nav li:nth-child(5) {
  animation: pop 0.5s 0.75s 1 forwards;
}
nav li:nth-child(6) {
  animation: pop 0.5s 0.9s 1 forwards;
}
nav li:nth-child(7) {
  animation: pop 0.5s 1.05s 1 forwards;
}
nav li:hover {
  color: #ececec;
}
nav li:active {
  background-color: #222;
}
nav li:nth-child(1):hover ~ .slide {
  left: 0;
}
nav li:nth-child(2):hover ~ .slide {
  left: 20vw;
}
nav li:nth-child(3):hover ~ .slide {
  left: 40vw;
}
nav li:nth-child(4):hover ~ .slide {
  left: 60vw;
}
nav li:nth-child(5):hover ~ .slide {
  left: 80vw;
}
nav li:nth-child(6):hover ~ .slide {
  left: 100vw;
}
nav li:nth-child(7):hover ~ .slide {
  left: 120vw;
}
nav li.slide {
  position: absolute;
  left: -20vw;
  top: 0;
  background-color: #fff;
  z-index: -1;
  height: 2px;
  margin-top: 98px;
  transition: left 0.3s ease;
  transform: translateY(0);
}



section {
  background-color: #1b1b1b;
  height: 100%;
  display: flex;
}



/*----- Blog -----*/

.post-time-section {
  float: left;
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
  overflow: hidden;
}

.post-time-section .post-date {
  padding: 10px 0;
  width: 55px;
  background-color: #444;
  color: #fff;
}

.post-time-section .post-date .day {
  font-size: 20px;
  font-weight: 700;
  display: block;
  letter-spacing: 1px;
}

.post-time-section .post-month .month {
  display: block;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 11px;
  letter-spacing: 1px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  background-color:#333;
}
.blog-column-left{
   margin-left: 70px;
   margin-top: 12px;
}
#blog {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 10%;
    margin-right: 10%;

}

#blog p{
  color: white;
}

.blog-post {
    position: relative;
    margin-bottom: 80px;
}
.blog-post p {
    line-height: 1.8;
}
.blog-post-title {
    letter-spacing: 1px;
    font-size: 26px;
    margin-top: 12px;
}
.blog-post-title a {
    color: #1c1c1c;
}
.blog-post-info {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}
.blog-post-info li {
    display: inline-block;
    font-size: 13px;
    margin-right: 15px;
}
.blog-post-info li a {
    color: #888;
}
.blog-post-info li a:hover {
    color: #1c1c1c;
}
.blog-post-info li i {
    font-size: 12px;
    margin-right: 3px;
}
.blog-post-date {
    position: absolute;
    right: 5px;
    top: -7px;
    text-align: center;
}
.blog-post-date h2,
.blog-post-date h5 {
    margin: 0;
}
.blog-post .video-container {
    margin-bottom: 0;
}
.blog-post .img-responsive {
    width: 100%;
}
.blog-post .owl-pagination {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    z-index: 100 !important;
}
.blog-post .owl-theme .owl-controls .owl-page span {
    cursor: pointer;
    display: inline-block;
    background-color: #888;
    border-color: #888;
    border: 2px solid transparent;
    height: 12px;
    width: 12px;
    margin: 0 3px;
    opacity: 1;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.blog-post .owl-theme .owl-controls .owl-page.active span {
    border-color: #888;
    background-color: transparent;
}
.blog-post .owl-controls.clickable {
    margin-top: 0;
    text-align: center;
}
.blog-post .btn {
    margin-top: 10px;
    margin-left: 0;
}
.post-title a {
    color: #3a3a3a;
}
.post-img {
    margin-bottom:10px;
}
.project-img {
    margin-bottom:60px;
}
.blog-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.blog-list li {
    color: #888;
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}
.blog-list li a {
    color: #3a3a3a;
}
.blog-list li a:hover {
    color: #fff;
}
.blog-list li:hover a {
    color: #fff;
}
.blog-widget-container {
    margin-bottom: 60px;
}
@media (min-width:992px) {
    .blog-sidebar {
        padding-left: 40px;
        padding-top: 10px;
    }
}
.blog-widget-container .form-control {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    box-shadow: none;
    background: #f3f3f3;
    border: 1px solid #ccc;
}
.blog-clean .post-title {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: -2px;
}
.blog-clean .post-subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}
.blog-post .lead {
    margin-bottom: 20px;
    line-height: 1.6;
}

@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}



@media (max-width: 400px) {
    nav li {
      font-size: 10px;
      letter-spacing: 2px;
    }

    /* .logo{
      margin-left: 5%;
      margin-top: 10%;
    } */

    .title{
      /* margin: 0 auto;
      text-align: center; */
    }
}

/* Desktop */
@media (max-width: 1500px) {
  .logo{
    margin-left: 2%;
    margin-top: 1%;
    background-size: 70px;
    height: 70px;
  }

  section{
    height: 100%;
  }
}

@media (max-width: 700px) {
  .logo{
    margin-left: 5%;
    margin-top: 5%;
    background-size: 50px;
    height: 50px;
  }
}

@media (max-width: 600px) {
  .logo{
    margin-left: 3%;
    margin-top: 3%;
  }
}


@media (max-width: 500px) {
  .logo{
    margin-left: 5%;
    margin-top: 5%;
    background-size: 50px;
    height: 50px;
  }
}

@media (min-width: 450px) {
  .logo{
    margin-left: 2%;
    margin-top: 2%;
    background-size: 80px;
    height: 80px;
  }
  nav li {
    font-size: 20px;
    letter-spacing: 2px;
  }

  section{
    height: 100%;
  }
}
